/* 상속시 html 태그의 style이 1순위, id(#)로 하는것이 2순위, 
class(.)로 하는 것이 3순위 html 태그에 그냥 지정하는 것이 가장 마지막 순위이다.
즉 id와 class로 모두 지정해도 브라우저는 id로 지정한대로 만들어준다  */
/* 하지만 !important를 붙혀주면 가장 먼저 적용되게 된다 */

/* 인라인은 width와 height가 무시된다
블럭레벨은 다 적용 됨 
경계와 내부내용 사이는 border
경계와 외부박스, 또는 전체 사이는 margin으로 한다 */

/* margin은 다른 *보이는* 인접한 요소와 ( ex) 10px ) 떨어져 있게 해주세요"라고 
생각하면 쉽다 => 잘못하면 margin겹칩 현상이 발생한다 */
.hidden{
    display: none;
}
body{
    background-size: cover;
}

/* id로 바꿔줄수있다! */
#backgroundImage{
    /* 부모 중에 포지션이 relative, absolute, fixed인 태그가 없다면 
    가장 위의 html이 기준 */
    /* 그냥 absolute만 하면 left와 top값이 원래 위치해야될 값으로(부모기준) 자동 설정된다.
    left 또는 top 속성이 있다면 html이 기준이 된다 */
    /* fixed는 위치를 고정시켜 
    스크롤이 생겨 스크롤을 내리게되도 원래 정해진 위치에 있게함 */
    position:absolute;
    left: 0;
    top: 0;
    /* max-width: 100%;
    height:auto; 이렇게 하니까 스크롤이 생김 =>나는 스크롤이 생기는걸 원하지 않음*/
	width:100%;
    height:100%;
    /* width:auto; */
    /* max-height: 100%; */
    z-index:-10;
    -webkit-filter: brightness(60%);
    -o-filter: brightness(60%);
    filter: brightness(60%);

    /* background-size: cover; */
}
#clock{
    position: absolute;
    left: 50%;
    top: 28%;
    /* transform은 대상의 형태를 변형, 
    translate는 element의 크기의 절반을 x,y축 기준으로 반대로 이동 시키는것 */
    transform: translate(-50%,-50%);  

    /* font-family: Arial, Helvetica, serif; */
    font-family: 'Georama', sans-serif;
    font-size: 180px;
    color: aliceblue;
}
#login_form{
    position: absolute;
    left: 50%;
    top: 56%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#login-name{
    outline: none;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid whitesmoke;

    color: white;

    font-size: 24px;

    
}

#submit-name{
    /* outline: none; */
    border-style: dashed;
    border-color: whitesmoke;

    background-color: powderblue;

    color: white;
    font-size: 24px;
}


#greeting{
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%,-50%);

    font-family: Arial, Helvetica, serif;
    font-size: 40px;
    color: aqua;
}

#ask-focus{
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%,-50%);

    font-family: Arial, Helvetica, serif;
    color: whitesmoke;
    
    font-size: 28px;
}

/* #main-focus{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);

    font-family: Arial, Helvetica, serif;
    color: darkkhaki;
    
} */

#main-focus>input{
    position: absolute;
    left: 50%;
    top: 62.5%;
    max-width: 25%;
    /* width: 90%; */
    height: 30px;
    /* left: 50%;
    top: 90%; */
    transform: translate(-50%,-50%);

    background: transparent; /*창을 투명하게*/ 
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;

    /* 창 클릭시 나오는 테두리 없애기 */
    outline: none;

    color: white;
    font-size: 28px;
}

#gotMainFocus{
    position: absolute;
    max-width: 100%;
    width: 95%;
    height: 30px;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);

    background: transparent; /*창을 투명하게*/ 
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;

    z-index: 2;

    color: white;
    font-size: 28px;
}


#todo-box{
    position: absolute;
    left: 98%;
    top: 99%;
    transform: translate(-100%,-100%);
    width:12%;
    height:15%;

    border: 1px dotted none;
    /* border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none; */

    /* background-color:paleturquoise; */
    background: transparent;
    filter: grayscale(20%);

    overflow: auto;
}
#todo-form>input{
    border: 1px solid black;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;
    outline: none;

    width: 95%;
    height: auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:white;
    
    
}

#todo-list{
    color:white;
    
}

#todo-button{
    position: absolute;
    left: 95%;
    top: 95%;

    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;

    z-index: 3;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:white;
}

#quote{
    position: absolute;
    left: 50%;
    top: 97%;
    transform: translate(-50%,-50%);

    font-family: Arial, Helvetica, serif;
    font-size: 15px;
    color: snow;
}
#weather{
    position: absolute;
    left: 92%;
    bottom: 96%;

    font-family: Arial, Helvetica, serif;
    font-size: 15px;
    color: seashell;

}

input::placeholder{
    color: whitesmoke;
}
/* css의 우선순위는 아래에서 위로 간다. 즉 아래에 있을수록 우선순위가 높다 */